core/__pycache__
core/migrations
core/*.bak
core/.idea/**/workspace.xml
core/.idea/**/tasks.xml
core/.idea/dictionaries
core/.idea/**/dataSources/
core/.idea/**/dataSources.ids
core/venv/
core/ENV/
core/env.bak/
core/venv.bak/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/migrations/**
!**/migrations
!**/migrations/__init__.py
**/__pycache__/**
db.sqlite3
db.sqlite3/
media/
static/
venv/